body {
  margin: 0;
  padding: 0;
}

.toolbar {
  background-color: #efefef;
  border-bottom: 1px solid darkgray;
  padding: 4px;
}

.request-table {
  overflow-x: scroll;
  td {
    vertical-align: text-top;
    white-space: nowrap;
  }
}